h1{
    font-size: 30px; 
    font-family: Arial;
    color: red;
    text-align: center;
}

font{
    font-size: 10px;
    font-family: Arial;
    text-align: 50%;
    color: white;
}

/*css carta random*/
.img{
    max-height: 60px;
    position: inherit;
    display: block;
}

body{
    background-attachment: fixed;
    background-size: cover;
    display: block;
}

.tasto{
    background-repeat: no-repeat;
    height: 10px;
    width: 20px;
    position: fixed;
    top:5px;
    right: 5px;
}

.nomi{
    bottom: 3px;
    right: 3px;
    font-size: 10px;
    font-family: 'Times New Roman';
    color:yellow;
    position:fixed;
}

.centra{
    top: 50%;
    right:48.6%;
    position: fixed;
}

#but{
    text-align: center;
    color: lime;
    font-size: 25px;
}

.gameon{
    transition-duration: 400ms;
    background-color: dimgray;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    position: relative;
    left: -5px;
    /*top: 55%;
    left: 48.3%;*/
}

.gameon:hover {
    background-color: darkcyan;
    border: none;
    border-radius: 12px;
}

#debug{
    position: fixed;
    bottom: 60px;
    left: 5px;
}

.fish{
    height: 45px;
}

#fish_display{
    position: fixed;
    bottom: 20px;
    right: 5px;
}

td{
    padding: 5px;
    text-align: center;
}

.actionPos{
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.action{
    transition-duration: 500ms;
    background-color: dimgray;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
}

.action:hover{
    font-size: 17px;
    color: antiquewhite;
}

.volume{
    position: fixed;
    top: 5px;
    left: 5px;
    color: white;
}

.menu{
    text-align: center;
}