.cella_1{
    height: 60px;
    top: 20%;
    left: 20.5%;
    position: fixed;
}

.cella_2{
    height: 60px;
    top: 43.5%;
    left: 25.8%;
    position: fixed;
}

.cella_3{
    height: 60px;
    top: 59.5%;
    left: 35.9%;
    position: fixed;
}

.cella_4{
    height: 60px;
    top: 65.5%;
    left: 48.7%;
    position: fixed;
}

.cella_5{
    height: 60px;
    top:  59.5%;
    right: 35.8%;
    position: fixed;
}

.cella_6{
    height: 60px;
    top: 43.5%;
    right: 25.8%;
    position: fixed;
}

.cella_7{
    height: 60px;
    top: 20%;
    right: 20.6%;
    position: fixed;
}